main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, legend {
	display: block; /*Força o elemento a ocupar toda uma linha*/
	font-size: 20px;
	margin: 0 0 10px;
}

.default-input { /*Nem todos os inputs do formulário devem ser alterados*/
	display: block; /*Força o elemento a ocupar toda uma linha*/
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.send {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all; /*Atrasa a mudança de cor do botão que ocorre no hover*/
	cursor: pointer; /*Troca o cursor do mouse quando ele passa pelo botão*/
}

.send:hover {
	background: darkorange;
	transform: scale(1.05); /*Nova propriedade do CSS3 que aumenta todas as propriedades do elemento, em escala (5%)*/
	transform: rotate(5deg); /*Rotaciona o elemento em graus. Se colocadas em sequência, ocorre os 2 efeitos*/
}

table {
	margin: 20px 0;
}

thead {
	background: #555555;
	color: #FFFFFF;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

@media screen and (max-width: 480px) {
	main {
		width: auto;
		padding: 0 5%;
	}

	.send {
		width: 60%;
	}
}

@media screen and (max-width: 820px) {
	main {
		width: auto;
		padding: 0 5%;
	}
}