.banner {
	width: 100%;
}

.main {
	background: #CCCCCC;
	padding: 30px;
}

.main-title {
	text-align: center;
	font-weight: bold;
	font-size: 2em; /*em: Medida proporcional do pixel. 2em = ex o tamanho da fonte base*/
	padding: 0 0 1em;
	clear: left; /*Anula o efeito do float (que está declarado no elemento de cima)*/

}

.main p {
	margin: 0 0 1em;
}

.main strong {
	font-weight: bold;
}

.main em {
	font-style: italic;
}

.utl-img {
	width: 120px;
	float: left; /*O elemento destoa da página, porém seu espaço, em baixo, fica ocupado, não sendo ocupado por outro elemento*/
	margin: 0 20px 20px 0;
}

#mission {
	font-size: 20px;
	font-style: italic;
}

em strong {
	color: #FF0000;
}

.benefits {
	background: #FFFFFF;
	padding: 20px;
}

.benefits ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.itens {
	font-style: italic;
	list-style-type: circle;
}

.benefits-img {
	width: 60%;
}