.products {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.products li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	border: 2px solid #000000;
	border-radius: 10px;
	margin: 0 1.5%;
	padding: 30px 10px;
	box-sizing: border-box;
}

.products li:hover {
	border-color: #C78C19;

}

.products li:active { /*hover: Quando o cursor do mouse clica no elemento*/
	border-color: #088C19;

}

.products li:hover h2 { /*Quando o cursor do mouse passar por cima de ".products li", mudará o comportamento do "h2", interno*/
	font-size: 34px;
}

.products h2 {
	font-size: 30px;
	font-weight: bold;
}

.product-description {
	font-size: 18px;
}

.product-price {
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0; /*margin-top: 10px;*/
}

@media screen and (max-width: 480px) {
	.products {
		width: auto;
	}

	.products li {
		display: block;
		margin: 3% 3%;
		width: auto;
	}
}

@media screen and (max-width: 820px) {
	.products {
		width: auto;
	}

	.products li {
		margin: 3% 1.4%;
		padding: 30px 5px;
	}

	.products h2 {
		font-size: 25px;
		font-weight: bold;
	}

	.products li:hover h2 {
		font-size: 30px;
	}

	.product-img {
		width: 80%;
	}
}