header {
	background: #BBBBBB;
	padding: 20px 0;
}

.box {
	position: relative; /*Posição relativa à posição estática para possibilitar deslocamento lateral*/
	width: 940px; /*Limita a largura para sobrar margens*/
	margin: 0 auto; /*Margens laterais iguais e calculadas automaticamente*/
}

nav {
	position: absolute; /*Posição absoluta em relação à página*/
	top: 110px; /*Altura do elemento em relação à página*/
	right: 0; /*Margem direita do elemento em relação à página*/

}

nav li {
	display: inline; /*Possibilita a exibição dos itens lado a lado, pois cada item não bloqueará mais sua linha toda*/
	margin: 0 0 0 15px; /*Cada item com margem à esquerda*/
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.products {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.products li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;

}

.products h2 {
	font-size: 30px;
	font-weight: bold;
}

.product-description {
	font-size: 18px;
}

.product-price {
	font-size: 22px;
	font-weight: bold;
}