#banner {
	width: 100%;
	margin: -5px; /*Por que precisou?*/
}

.main {
	background: #CCCCCC;
	padding: 30px;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding: 20px;
}

.main p {
	margin: 20px 0;
	text-align: center;
}

strong {
	font-weight: bold;
}

#mission {
	font-size: 20px;
	font-style: italic;
}

em strong {
	color: #FF0000;
}

.benefits {
	background: #FFFFFF;
	padding: 20px;
}

.benefits ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.itens {
	font-style: italic;
	list-style-type: circle;
}

.benefits-img {
	width: 50%;
}